---

################################################################################
# PostgreSQL
################################################################################

- name: Run PostgreSQL container
  docker_container:
    name: "{{ netbox_container_postgres_container_name }}"
    image: "{{ netbox_container_postgres_container_image }}"
    state: started
    restart_policy: "{{ netbox_container_postgres_restart_policy }}"
    env: "{{ netbox_container_postgres_env_vars }}"
    volumes:
      - "{{ netbox_container_postgres_data_dir }}:/var/lib/postgresql/data"
    networks:
      - name: "{{ netbox_container_netbox_network_name }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 30s
      retries: 5
