---

################################################################################
# NetBox main app
################################################################################

- name: Run NetBox web container
  docker_container:
    name: "{{ netbox_container_netbox_container_name }}"
    image: "{{ netbox_container_netbox_image }}:{{ netbox_container_netbox_version }}"
    state: started
    restart_policy: "{{ netbox_container_netbox_restart_policy }}"
    env: "{{ netbox_container_netbox_env_vars }}"
    volumes:
      - "{{ netbox_container_netbox_media_dir }}:/opt/netbox/netbox/media:rw"
      - "{{ netbox_container_netbox_reports_dir }}:/opt/netbox/netbox/reports:rw"
      - "{{ netbox_container_netbox_scripts_dir }}:/opt/netbox/netbox/scripts:rw"
    networks: "{{ _netbox_container_networks }}"
    published_ports: "{{ _netbox_container_published_ports | default(omit, true) }}"
    healthcheck:
      test:
        - "CMD-SHELL"
        - "curl -f -s -S {{ __check_url }} | grep 'data-netbox-version'"
      interval: 60s
      timeout: 5s
      retries: 8
      start_period: 90s
  vars:
    __check_url: "http://localhost:{{ netbox_container_service_port }}/login/"

################################################################################
# NetBox worker
################################################################################

- name: Run NetBox worker container
  docker_container:
    name: "{{ netbox_container_netbox_worker_container_name }}"
    image: "{{ netbox_container_netbox_worker_image }}:{{ netbox_container_netbox_worker_version }}"
    state: started
    restart_policy: "{{ netbox_container_netbox_worker_restart_policy }}"
    env: "{{ netbox_container_netbox_worker_env_vars }}"
    command:
      - "/opt/netbox/venv/bin/python"
      - "/opt/netbox/netbox/manage.py"
      - "rqworker"
    networks:
      - name: "{{ netbox_container_netbox_network_name }}"
    healthcheck:
      test:
        - "CMD-SHELL"
        - "ps -aux | grep -v grep | grep -q rqworker || exit 1"
      start_period: 20s
      timeout: 3s
      interval: 15s
